{% extends 'layout.html' %}

{% load static %}

{% block title %} お店情報の登録 {% endblock %}

{% block js %}  
<script type="text/javascript" src="{% static 'js/script.js' %}" ></script>
{% endblock %}

{% block content %}
<div class="main-container">
    <a href="/" >TOP</a>
    <h1 class="text-center">お店情報の登録</h1>
    <form method="POST">
      {% csrf_token %}
      <input type="text" class="input-text" name="name" placeholder="店名" />
      <br/>
      <input type="text" class="input-text" name="business_hour" placeholder="営業時間" />
      <br/>
      <input type="text" class="input-text" name="address" placeholder="住所" />
      <br/>
      <textarea class="input-text" name="detail" placeholder="説明・メニュー"></textarea>
      <div class="text-right">
          <input type="submit" value="登録ボタン">
      </div>
  
    </form>
  </div>
{% endblock %}
