{% extends 'layout.html' %}

{% load static %}

{% block title %} {{ restaurant.name}} {% endblock %}

{% block js %}  
<script type="text/javascript" src="{% static 'js/script.js' %}" ></script>
<script>
    var iniadluhchmap = {};
    iniadluhchmap.restaurants = [
        ["{{ restaurant.name }}","{{ restaurant.address }}"],
    ];
    window.iniadluhchmap = iniadluhchmap;
    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key={{ gmap_api_key }}&callback=initMap">
    </script>
{% endblock %}

{% block content %}
<input type="hidden" id="gmap_api_key" value="{{ gmap_api_key }}" />
<div class="main-container">
    <a href="/" >TOP</a>
    <h1 class="text-center">{{ restaurant.name}}</h1>
    営業時間
    <div>{{ restaurant.business_hour }}</div>
    <div id="map"></div>
    <div>{{ restaurant.address }}</div>
    <div>{{ restaurant.detail }}</div>
    <a href="{%  url 'update' restaurant.id %}" >変更する</a>
  </div>
{% endblock %}