{% extends 'layout.html' %}

{% load static %}


{% block js %}  
<script type="text/javascript" src="{% static 'js/script.js' %}" ></script>
<script>
    var iniadluhchmap = {};
    iniadluhchmap.restaurants = [
      {% for restaurant in restaurants %}
        ["{{ restaurant.name }}","{{ restaurant.address }}"],
      {% endfor %}
    ];
    window.iniadluhchmap = iniadluhchmap;
    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key={{ gmap_api_key }}&callback=initMap">
  </script>
{% endblock %}


{% block content %}
<input type="hidden" id="gmap_api_key" value="{{ gmap_api_key }}" />
<div class="main-container">
  <h1 class="text-center">INIAD Lunch Map</h1>
  <div id="map"></div>
  <table id="table">
  <tr>
    <td></td>
    <td></td>
    <td class="text-right">
      <a href="{% url 'create' %}" >Register</a>
    </td>
  </tr>
  {% for restaurant in restaurants %}
  <tr>
    <td>
      {{ forloop.counter }}
    </td>
    <td>
      <a href="{% url 'detail' restaurant.id %}" >
        {{ restaurant.name }}
      </a>
    </td>
    <td class="text-right">
      <a href="{% url 'update' restaurant.id %}" >
        Edit
      </a>
    </td>
    <td class="text-right">
      <form action="{% url 'delete' restaurant.id %}" method="POST" >
        {% csrf_token %}
        <input type="submit" value="Delete" class="delete-link" />
      </form>
    </td>
  </tr>
  {% endfor %}
  </table>
</div>
{% endblock %}
